// google fonts
// @font-face {
//   font-family: 'Archivo Bold';
//   src: local('Archivo Bold'), url('./fonts/Archivo/Archivo-Bold.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'Archivo Regular';
//   src: local('Archivo Regular'), url('./fonts/Archivo/Archivo-Regular.ttf') format('truetype');
// }
// 
// 
// create random background color
@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

// media queries and related styles
$phone-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    .mainTimerResponsive {
      font-size: 40pt;
    }
    .lapTimerResponsive {
      font-size: 20pt;
    }
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    .mainTimerResponsive {
      font-size: 80pt;
    }
    .lapTimerResponsive {
      font-size: 40pt;
    }
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    .mainTimerResponsive {
      font-size: 120pt;
    }
    .lapTimerResponsive {
      font-size: 60pt;
    }
  }
}

// cards
@mixin Card($title: "title", $body: "body", $controls: "controls") {
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  margin: 10px;
  transition: all 0.3s ease;
  text-align: left;
  background: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;

  min-height: 80px;
  min-width: 180px;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
  }

  & #{$title} {
    background: silver;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    flex-basis: 20%;
    text-align: left;
  }

  & #{$body} {
    padding: 15px;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;

    #{&} #{$controls} {
      flex-basis: 20%;
      text-align: left;
    }
  }
}


.App {
  @include desktop();
  @include tablet();
  @include phone();

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  flex: 1;

}

#root {
  display: flex;
  //min-height: 100vh;
  //background: beige;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

// this is needed for hotkeys. hotkeys by default puts
// a blue border around elements to mark the scope of hot keys
// div[tabindex="-1"]:focus {
//   outline: 0;
// }
